{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Projeto
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome Funcionário</th>
                        <th>Nome Projeto</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for projeto in projetos %}
                        <tr>
                            <td><a href="/projeto/edita/{{ projeto.id}}">{{ projeto.funcionario.nome }}</a></td>
                            <td>
                                {{ projeto.projeto.nome }}
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/projeto/remove/{{ projeto.id }}">remover</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}