{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Bem vindo!<br>
        {{ 'now'|date('Y/m/d h:i') }}
    </h1>
    <div>
    <p>
        <a href="http://localhost:8000" title="Editora X">
        Empresa Fantasma LTDA.
        </a>
        <br>
        Av. Nova, 1265<br>
        Cidade Fantasma – CEP 74000-000<br>
        Goiânia – GO – Brasil<br>
        Tel.: +55 62 5252-2525
    </p>
</div>
{% endblock %}
